<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load staticfiles %}
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/ico" /> 
        <title>{% block title %}{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/jquery-ui.min.css" />
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="navigation" style="padding-bottom:0.2em; margin:0; width:100%;">
            {% block nav_path %}{% endblock %}
        </div>
        <hr size="1">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <hr size="1">
        <div id="footer" style="font-size:.9em;padding-left:1em; margin-top:1em;">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
