.project
.pydevproject
.ropeproject
*.pyc
*.sqlite
*.sqlite3
*.sqlite-journal
*.conflict
*.swp
*.aux
*.log
*.dvi
*.out
.coverage
*.Rout
*.RData
*.pdf
localsettings.py
auth.json
dist
django_feedreader.egg-info
