include LICENSE
include README.markdown
recursive-include feedreader/fixtures *
recursive-include feedreader/management *
recursive-include feedreader/static *
recursive-include feedreader/templates *
recursive-include doc *
