include HISTORY.rst
include LICENSE
include README.rst
recursive-include feedreader/management *
recursive-include feedreader/migrations *
recursive-include feedreader/static *
recursive-include feedreader/templates *
recursive-include doc *
