{% load i18n %}
{% if entries_header %}<h2>{{ entries_header }}</h2>{% endif %}
{% if entry_list %}
    {% for entry in entry_list %}
        <div id="entry_id={{ entry.id }}" class="feed_entry {% if entry.read_flag %}read_entry{% endif %}">
            <h3><a href="{{ entry.link }}">{{ entry.title|safe }}</a></h3>
            <p class="feedreader_subtitle">
                {% trans 'from' %}
                <a href="{{ entry.feed.link }}" title="{{ entry.feed.description|safe }}">
                    {{ entry.feed.title|safe }}</a>
                {% trans 'on' %} {{ entry.published_time|date:"d M Y" }} ({{ entry.published_time|timesince }} ago)
            </p>
            <p>{{ entry.description|safe }}</p>
        </div>
    {% endfor %}
{% else %}
    {% if entries_header %}
        <p id="no_entries">
            {% if show_read_flag %}
                {% trans 'No stories found' %}
            {% else %}
                {% trans 'No unread stories found' %}
            {% endif %}
        </p>
    {% endif %}
{% endif %}
